<head>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVEQE0nRYGvWg_2Po43zlm1Bq_ZCAl3zY&callback=initMap" async defer></script>
</head>

<style>
    .main_container {
        width: 100%;
        height: auto;
        background-color: white;
        align-content: center;
    }

    .article_container {
        max-width: 850px;
        margin: 0 auto;
        padding: 40px 90px;
        font-family: 'Inter', sans-serif;
        background-color: #F6F6F6;
        border-radius: 30px;
        align-content: center;
        margin-top: 10px;
        margin-bottom: 50px;
    }

    .art_block {
        margin-bottom: 60px;
        align-content: center;
        text-align: center;
    }

    .art_image {
        width: 650px;
        height: 430px;
        background-size: cover;
        background-position: center;
        border-radius: 30px;
        margin-bottom: 30px;
    }

    .Heading1 {
        font-family: 'Playfair';
        font-size: 32px;
        margin-bottom: 20px;
        font-weight: 500;
        color: black;
    }

    .Heading2 {
        font-family: 'Playfair';
        font-size: 20px;
        margin-bottom: 20px;
        font-weight: 500;
        color: black;
    }

    .Subtitle {
        font-size: 14px;
        color: #151515;
        margin-bottom: 30px;
        font-style: italic;
    }

    .Information {
        font-size: 14px;
        margin-bottom: 20px;
        text-align: justify;
    }

        .Information strong {
            font-weight: 500;
        }

    .map_block {
        margin-top: 60px;
        background-color: #F6F6F6;
        border-radius: 30px;
        padding: 30px;
        text-align: center;
    }

    .map {
        width: 100%;
        height: 600px;
        border-radius: 20px;
        overflow: hidden;
        margin: 20px 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .map-link {
        display: inline-block;
        color: #404A36;
        font-weight: 500;
        text-decoration: none;
        font-size: 16px;
        transition: color 0.3s;
    }

        .map-link:hover {
            color: #333D29;
            text-decoration: underline;
        }

</style>

<div class="main_container">
    <div class="article_container">
        <div class="art_block">
            <img src="https://i.ibb.co/zTXmqzNC/d1.jpg" class="art_image">
            <h1 class="Heading1">Лучшие места в пределах 50км от Минска</h1>
            <p class="Subtitle">Свежие идеи для небольшой вылазки из города</p>
            <p class="Information">
                Собрали десяток идей для короткой поездки из Минска. До большинства точек можно добраться на общественном транспорте, так что выбирай локацию для следующего путешествия или составляй целый маршрут. Тут и старинные усадьбы, и величественные храмы, и древние городища, которые помнят события многовековой давности.
            </p>
        </div>

        <div class="art_block">
            <img src="https://i.ibb.co/R4YHJ7gn/d2.jpg" class="art_image">
            <h1 class="Heading2">Заславль</h1>
            <p class="Subtitle">Расстояние от Минска: 14 км</p>
            <p class="Information">
                Сгонять в Заславль стоит по нескольким причинам. Во-первых, это важный город для беларусской истории – думаем, пересказывать легенду о Рогнеде и Изяславе тебе ну нужно. Во-вторых, в мае прошлого года здесь открылся классный музей беларусской маляванки, где собрана обширная коллекция расписных ковров кисти Язепа Дроздовича, Алены Киш и других менее известных мастериц и мастеров. А еще это просто повод прокатиться на легендарной электричке «Минск – Беларусь».
                <br />
                Оказавшись в Заславле, ты точно не пропустишь главную архитектурную достопримечательность города – это Спасо-Преображенская церковь. Храм был построен в середине XVI века как кальвинистский сбор – тогда он находился на территории укрепленного замка. Позже здание перешло к униатам, а после – и к православным.
                <br />
                Чтобы культурная программа была полной, загляни в этнографический комплекс «Млын» – музей под открытым небом, где ты сможешь посетить несколько оригинальных строений, которым уже под сотню лет.
            </p>
        </div>

        <div class="art_block">
            <img src="https://i.ibb.co/ytsCk8c/d3.jpg" class="art_image">
            <h1 class="Heading2">Логойск</h1>
            <p class="Subtitle">Расстояние от Минска: 32 км</p>
            <p class="Information">
                Классное направление для ментальной перезагрузки. Когда-то в Логойске хозяйничали Тышкевичи: здесь стоял первый родовой замок, тут же работал археологический музей братьев Константина и Евстафия Тышкевичей. Сегодня от некогда пышного дворца в классическом стиле остался только небольшой фрагмент стены южного крыла – тем не менее, прогуляться по живописным тропинкам усадебного парка все равно стоит.
                <br />
                Кроме того, можешь взглянуть на логойский костел святого Казимира, который стоит на месте храма Тышкевичей, который был разрушен в середине прошлого века. Новый ассиметричный храм построили в 1999 году – и выглядит он как минимум необычно.
            </p>
        </div>

        <div class="art_block">
            <img src="https://i.ibb.co/fV64Lncx/d4.jpg" class="art_image">
            <h1 class="Heading2">Раков</h1>
            <p class="Subtitle">Расстояние от Минска: 27 км</p>
            <p class="Information">
                Городок на извилистых берегах Ислочи может похвастаться богатым культурным наследием. Поселение на этом месте существовало еще в глубокой древности – об этом свидетельствует городище на левом берегу Ислочи. Современным путешественникам не стоит пропускать несколько важных архитектурных памятников: Спасо-Преображенскую церковь конца XVIII века, неоготический кирпичный костел Богоматери Святого Розария 1906 года на месте бывшего католического доминиканского монастыря и часовню святой Анны на местном кладбище.
            </p>
        </div>

        <div class="art_block">
            <img src="https://i.ibb.co/zhcFnR1Q/d5.jpg" class="art_image">
            <h1 class="Heading2">Станьково</h1>
            <p class="Subtitle">Расстояние от Минска: 34 км</p>
            <p class="Information">
                В XIX веке –  после Дорогостайских и Радзивиллов – местечком владели Гуттен-Чапские.  Эмерик Гуттен-Чапский заложил тут резиденцию с двухэтажным классическим дворцом. Его возвели в 1862 году, но, к сожалению, до наших дней постройка не сохранилась.
                <br />
                Самая видная достопримечательность усадьбы сейчас – компактное двухэтажное неоготическое здание с четырьмя башнями – «Скарбчык», который выглядит, как очень маленький средневековый замок. Его Эмерик Чапский, увлеченный коллекционер, использовал для хранения собранных им древностей, икон, редких книг и археологических находок.
                <br />
                Тут также сохранились руины старой брамы с остатками дома сторожа, флигель усадьбы со ступенчатым фронтоном, здания амбара и конюшни. Все эти постройки находятся в огромном древнем парке, где и сейчас очень приятно гулять.
            </p>
        </div>

        <div class="art_block">
            <img src="https://i.ibb.co/35GzFGKq/d6.jpg" class="art_image">
            <h1 class="Heading2">Вязынка</h1>
            <p class="Subtitle">Расстояние от Минска: 35 км</p>
            <p class="Information">
                Именно в Вязынке родился Янка Купала – а сегодня тут находится музей поэта. Дом отреставрировали в 1972 году: сейчас в комнатах, где когда-то жил поэт с семьей, восстановлен интерьер тех времен. Чтобы все выглядело максимально аутентично, вещи и предметы быта для экспозиции собирали в окрестностях самой Вязынки. На территории музея, помимо хаты, находятся также свиран (с еще одной экспозицией), криничка, старинный дуб и памятник Купале авторства Азгура.
            </p>
        </div>

        <div class="art_block">
            <img src="https://i.ibb.co/Y7GmCM7q/d8.jpg" class="art_image">
            <h1 class="Heading2">Дзержинск</h1>
            <p class="Subtitle">Расстояние от Минска: 30 км</p>
            <p class="Information">
                Деятель, именем которого назвали город в 1932 году, родился в нескольких километрах отсюда. А вообще-то, историческое название города – Койданово. Так город назывался на протяжении многих веков своей истории – а сегодня это имя сохранила только местная железнодорожная станция.
                <br />
                Главный архитектурный хайлайт Койданово – это деревянный костел Святой Анны. Первый храм на этом месте был основан еще в 1439 году. Нынешнее здание построено в конце XVIII века, за годы своей богатой биографии с пожарами и войнами лишилось двух башен, зато сохранило фундамент. В советское время в здании разместили музыкальную школу, а в начале 1990-ых костел вернули прихожанам. Еще одна местная достопримечательность – Покровская церковь 1850 года постройки. Экстерьер храм с пятью куполами отлично сохранился – чего не скажешь про внутреннее убранство (тем не менее, тут все же можно увидеть несколько старинных икон). Оказавшись в Койданово, также стоит увидеть деревянное здание хедера (еврейской начальной школы) и остатки замчища.
            </p>
        </div>

        <div class="art_block">
            <img src="https://i.ibb.co/6JFT1mNm/d9.jpg" class="art_image">
            <h1 class="Heading2">Минское городище</h1>
            <p class="Subtitle">Расстояние от Минска: 10 км</p>
            <p class="Information">
                Один из важнейших археологических памятников Беларуси находится в десяти километрах от современного Минска возле деревни Городище. По одной из гипотез, именно здесь находился древний Менск, а уже после того, как его несколько раз спалили, поселение перенесли на теперешнее место – у рек Свислочь и Немига.
                <br />
                Городище – классное место для неспешных прогулок и размышлений о вечном. Здесь сохранились высокие земляные валы, течет река Менка и ее приток, ручей Дунай. На месте пустого пространства в центре был настоящий город, окруженный стенами до десяти метров высотой, в котором жили князья, ремесленники и купцы. Археологи находили тут остатки посуды, оружие, украшения, артефакты из Скандинавии, Византии и Египта и даже клады. К слову, недавно археологи провели радиоуглеродный анализ дерева из валов на городище. Оказалось, что Минск может быть примерно на 200 лет старше, чем мы думали.
            </p>
        </div>

        <div class="art_block">
            <img src="https://i.ibb.co/LdJdYynh/d10.jpg" class="art_image">
            <h1 class="Heading2">Прилуки</h1>
            <p class="Subtitle">Расстояние от Минска: 10 км</p>
            <p class="Information">
                Первый дворец с итальянским садом появился в Прилуках, когда местечко принадлежало князьям Огинским. Через несколько поколений Прилуки перешли Антону Горватту, который перестроил усадьбу в романтическом неоготическом стиле, – так дворец выглядит и сейчас. С 1872 года дворец в Прилуках стал одной из резиденций графа Эмерика Захарьяша Николая Северина фон Гуттен-Чапского – политика и увлеченного коллекционера. Во время Второй мировой войны в Прилуках располагался загородный дом гауляйтера Беларуси Вильгельма Кубе, а после нее – Институт защиты растений (он тут находится и по сей день). Кроме отлично сохранившегося дворца, в Прилуках можно увидеть также хозяйственные постройки: конюшню, амбар-ледовню, дом управляющего и бровар. Сейчас для комплекса в Прилуках ищут инвестора, который сможет вдохнуть в это место новую жизнь.
            </p>
        </div>

        <div class="art_block">
            <img src="https://i.ibb.co/1pzgnrh/d11.jpg" class="art_image">
            <h1 class="Heading2">Озерцо</h1>
            <p class="Subtitle">Расстояние от Минска: 10 км</p>
            <p class="Information">
                В деревне Озерцо работает музей народной архитектуры и быта – и это,  пожалуй, один из самых интересных музеев Беларуси. Хоть и находится музей совсем недалеко от Минска, на поездку можно смело закладывать целый день: территория музея огромная, экспонатов – масса. В экспозиции представлены оригинальные строения, свезенные сюда из трех регионов Беларуси: Поднепровья, Поозерья и центральной части. Тут и церкви, и мельница, и множество хат и сараев – и все они когда-то исправно служили людям. Изучать все это, прогуливаясь среди старинных построек, можно бесконечно. А если проголодаешься, заглядывай в местную корчму.
            </p>
        </div>

        <div class="art_block">
            <img src="https://i.ibb.co/WvC0NJzy/d12.jpg" class="art_image">
            <h1 class="Heading2">Боровое</h1>
            <p class="Subtitle">Расстояние от Минска: 43 км</p>
            <p class="Information">
                Неподалеку от деревень Боровое и Новая Рудица находится необычная часовня-усыпальница рода Дыбовских. Приехать сюда стоит хотя бы ради того, чтобы повторить шикарное фото Владимира Короткевича. Постройку относят, по разным версиям, то ли к первой то ли ко второй половине XIX века. Семейство Дыбовских было вынуждено покинуть эти земли после восстания 1863-64 годов, поэтому многая информация оказалась утеряна.
            </p>
        </div>


        <div class="map_block">
            <h1 class="Heading2">Маршрут по местам в пределах 50 км от Минска</h1>
            <div id="routeMap" class="map"></div>
            <a href="https://www.google.com/maps/dir/Минск,+Беларусь/Прилуки,+Беларусь/Минское+городище,+Беларусь/Озерцо,+Беларусь/Станьково,+Беларусь/Дзержинск,+Беларусь/Раков,+Беларусь/Вязынка,+Беларусь/Заславль,+Беларусь/Логойск,+Беларусь/Боровое,+Беларусь/"
               class="map-link" target="_blank">Открыть полный маршрут в Google Картах</a>
        </div>
    </div>
</div>



<script>
    function initMap() {
        const routePoints = [
            { lat: 53.9045, lng: 27.5615, title: "Минск (начало маршрута)" },
            { lat: 53.9333, lng: 27.6333, title: "Прилуки" },
            { lat: 53.8333, lng: 27.5000, title: "Минское городище" },           
            { lat: 53.8333, lng: 27.3833, title: "Озерцо" },
            { lat: 53.6333, lng: 27.2167, title: "Станьково" },
            { lat: 53.6833, lng: 27.1333, title: "Дзержинск" },
            { lat: 53.9667, lng: 27.0500, title: "Раков" },
            { lat: 54.1000, lng: 27.1833, title: "Вязынка" },            
            { lat: 54.0000, lng: 27.2833, title: "Заславль" },
            { lat: 54.2000, lng: 27.8500, title: "Логойск" },
            { lat: 54.3500, lng: 27.9500, title: "Боровое" }
        ];

        const map = new google.maps.Map(document.getElementById("routeMap"), {
            zoom: 10,
            center: { lat: 53.9, lng: 27.5 },
            mapTypeId: "terrain",
            styles: [
                {
                    featureType: "poi",
                    stylers: [{ visibility: "off" }]
                }
            ]
        });

        const routePath = new google.maps.Polyline({
            path: routePoints.map(point => ({ lat: point.lat, lng: point.lng })),
            geodesic: true,
            strokeColor: "#404A36",
            strokeOpacity: 1.0,
            strokeWeight: 4
        });
        routePath.setMap(map);

        routePoints.forEach((point, index) => {
            new google.maps.Marker({
                position: { lat: point.lat, lng: point.lng },
                map: map,
                title: `${index + 1}. ${point.title}`,
                label: {
                    text: (index + 1).toString(),
                    color: "white",
                    fontSize: "12px",
                    fontWeight: "bold"
                },
                icon: {
                    url: "https://maps.google.com/mapfiles/ms/icons/red-dot.png",
                    labelOrigin: new google.maps.Point(11, 11)
                }
            });
        });

        const infoWindow = new google.maps.InfoWindow();

        routePoints.forEach((point, index) => {
            const marker = new google.maps.Marker({
                position: { lat: point.lat, lng: point.lng },
                map: map,
                title: point.title
            });

            marker.addListener("click", () => {
                infoWindow.setContent(`<strong>${index + 1}. ${point.title}</strong>`);
                infoWindow.open(map, marker);
            });
        });
    }
</script>